@font-face {
    font-family: 'Inter';
    src: url(/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(180deg, #f8fbff, #eef5ff,#dbeafe);
    height: 100vh;
    font-family: "Inter",sans-serif;
    transition: .5s;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(440px, 98vw);
    background: rgba(255, 255, 255, .95);
    padding: 50px 35px 15px 35px;
    border-radius: 30px;
    border: 1px solid #dbeafe;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8),
    0 20px 50px rgba(59, 130, 246, 0.15);
}
.mode {
    padding: 10px 8px;
    position: absolute;
    
    top: 10px;
    right: 35px;
    border-radius: 10px;
    border: none;
}
h1 {
    color: #0f172a;
    font-weight: 800;
    font-size: 44px;
    letter-spacing: -1;
}
h1 span {
    color: #3b82f6;
}
h2 {
    color: #64748b;
    font-size: 29px;
}
.score {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    gap: 20%;
    padding: 18px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 25px;
    background: #f8fbff;
}
.score-you p:nth-child(2){
    color: #3b82f6;
    font-size: 30px;
}
.score-cpu p:nth-child(2){
    color: #64748b;
    font-size: 30px;
}
.score1 {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.trophée {
    width: 50px;
    height: 50px;
}
.choix , .symboleJoueur {
    width: 90%;
    z-index: 50;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #d6e3fa, #eef4ff);
    padding: 50px;
    border-radius: 15px;
    animation: zoom 2.1s forwards;
    animation-delay: 1s;
    gap: 10px;
    opacity: 0;
}
.symboleJoueur {
    z-index: 10;
    opacity: 0;
    animation: none;
}
.choix #nomJoueur{
    height: 40px;
    border-radius: 10px;
    box-shadow: inset 0 2px 10px rgba(6, 6, 6, 0.25);
    border: none;
    text-align: center;
    font-size: 17px;

}
.choix #continuer {
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 12px;
    border: none;
    background: #3B82F6;
    color: white;
    box-shadow: 0 2px 10px rgba(59, 130, 246, 0.25);
}

@keyframes zoom {
    from{
        transform: scale(0);
        top: 0%;
        left: 50%;
        
    }
    to {
        transform: scale(1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.symboleJoueur .buttons1 {
    display: flex;
    gap: 10%;
    margin-top: 15px;
}
.symboleJoueur button {
    width: 145px;
    height: 65px;
    border-radius: 15px;
    margin-top: 1%;
    border: none;
    font-size: 40px;
    font-weight: 700;
}
.x-btn {
    background: #3B82F6;
    color: white;
    box-shadow: 0 2px 10px rgba(59, 130, 246, 0.25);
}
.x-btn:hover {
    background: #2563eb;
    transform: translateY(-2px);
}
.o-btn {
    background: white;
    border: 1px solid #cbd5e1;
    color: #334155;
    box-shadow: 0 2px 10px rgba(59, 130, 246, 0.25);
}
.o-btn:hover {
    background: #f1f5f9;
    transform: translateY(-2px);
}

.tableau {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    margin: 30px auto;
    gap: 8px;
}
.tableau .case {
    height: 100px;
    background: white;
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
    transition: .25s;
}

.tableau .case:hover {
    background: #eff6ff;
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(59, 130, 246, 0.25);
}
.tableau .case.coche {
    animation: pop .2s ease;
}
@keyframes pop {
    from{
        transform: scale(.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.tableau .case.winner {
    background: #dcfce7;
    box-shadow: 0 0 20px rgba(34, 197, 94, 0.5);
    animation: winner .8s infinite alternate;
}

@keyframes winner {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}
.tour {
    font-size: 20px;
    font-weight: 700;
    color: rgb(83, 83, 83);
    margin-bottom: 20px;
}
.tour span {
    color: #3b82f6;
    font-size: 29px;
    font-weight: 800;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 4%;
}
.buttons button {
    padding: 14px;
    border-radius: 15px;
    border: none;
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
    font-weight: 700;
}
.buttons button:hover {
    transform: translateY(-3px);
}
.buttons button:active{
    transform: scale(.95);
}
#NouvellePartie {
    background: #3B82F6;
    color: white;
    box-shadow: 0 2px 10px rgba(59, 130, 246, 0.25);
}
#NouvellePartie:hover {
    background: #2563eb;
    transform: translateY(-2px);
}
.btn-o {
    background: white;
    border: 1px solid #cbd5e1;
    color: #334155;
    box-shadow: 0 2px 10px rgba(59, 130, 246, 0.25);
}
.btn-o:hover {
    background: #f1f5f9;
    transform: translateY(-2px);
}

.dark {
    background: radial-gradient(circle at top, #1e3a8a,#020617);
    color: #f8fafc;
    transition: .5s;
}
.dark h1 {
    color: #f8fafc;
}
.dark h1 span {
    color: #38bdf8;
}
.dark .score {
    background: #1e293b;
    border: 1px solid #334155;
    color: #f8fafc;
}
.dark .choix , .dark .symboleJoueur{
    background: radial-gradient(circle at top, #1e3a8a,#020617);
        
}
.dark .container {
    background: #111827;
    padding: 50px 35px 15px 35px;
    border-radius: 30px;
    border: 1px solid #334155;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    /*min-height: 100vh;*/
}
.dark .case {
    background: #1e293b;
    border: none;
    color: #f8fafc;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.dark .case:hover {
    background: #334155;
    box-shadow: 0 0 20px rgba(56, 189, 248, .4);
}

.dark .case.winner {
    box-shadow: 0 0 25px #22c55e;
    background: #36473c;
}

.dark .x-btn,#NouvellePartie {
    background: #2563eb;
    color: white;
}
.dark .x-btn,#NouvellePartie:hover {
    background: #3b82f6;
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
}

.modes {
    width: 30px;
    height: 30px;
}


